/*** uncss> filename: https://fonts.googleapis.com/css?family=Montserrat:300,400,600&subset=latin-ext ***/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3gfD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wdhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gfD-w.ttf) format('truetype');
}
 



html {
  font-size: 16px;
  
  -webkit-tap-highlight-color: transparent;
}



body {

  min-width:600px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  background: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
  
}

a {
  color: #1c1c1c;
  text-decoration: none;
}

a:hover {
  color: #2e4bfd;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.text-center {
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}


@media (min-width: 992px) {
  .col-lg-8 {
    float: left;
    width: 66.66667%;
  }
  .offset-lg-2 {
    margin-left: 16.66667%;
  }
}



h2 {
  font-family: inherit;
  font-weight: 550;
  line-height: 1.33333;
  color: #1c1c1c;
  margin-top: 0;
  margin-bottom: 1rem;
}


h2 {
  font-size: 1.9rem;
}


.btn {
  display: inline-block;
  line-height: 1.625;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.75px;
  padding: 1rem 3.125rem;
  border: 1px solid transparent;
  border-radius: 50px;
  outline: none !important;
  cursor: pointer;
  
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.3s ease;
}

.btn-success {
  color: #fff;
  background-color: #57d03b;
  border-color: #57d03b;
}

.btn-success:hover {
  color: #fff;
  background-color: #389123;
  border-color: #2b711b;
}

.btn-success:focus {
  color: #fff;
  background-color: #389123;
  border-color: #2b711b;
}

.btn-success:active {
  color: #fff;
  background-color: #389123;
  border-color: #2b711b;
  background-image: none;
}

.btn-success:active:hover, .btn-success:active:focus {
  color: #fff;
  background-color: #389123;
  border-color: #2b711b;
}

.btn-success:disabled:focus {
  background-color: #57d03b;
  border-color: #57d03b;
}

.btn-success:disabled:hover {
  background-color: #57d03b;
  border-color: #57d03b;
}



.title-01 {
  z-index: 1;
  position: relative;
}


.title__action:last-child {
  margin-bottom: 0;
}

.title-01--11 .title__heading {
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .title-01--11 .title__heading {
    font-size: 3.75rem;
  }
}

@media (min-width: 992px) {
  .title-01--11 .title__heading {
    font-size: 4.375rem;
  }
}

.title-01--11 .title__description {
  margin-bottom: 50px;
}

@media (min-width: 992px) {
  .title-01--11 .title__description {
    font-size: 1.25rem;
    padding: 0 5.9375rem;
  }
}

.hero-section,
.hero-section__wrap {
  position: relative;
  overflow: hidden;
}

.hero-section .container,
.hero-section__wrap .container {
  z-index: 2;
  top: 40%;
  position: relative;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hero-section__wrap {
  height: 100vh;
}

.hero-section__wrap .title__heading {
  text-align: center;
}

.hero-section__wrap .title__heading > span + strong.hero-section__words {
  text-align: left;
}

.hero-section--image::before {
  content: "";
  display: block;
  
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.hero-section--image * {
  color: #fff;
}

.hero-section__words {
  position: relative;
}

.hero-section__words .title__effect {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  opacity: 0;
}

.hero-section__words .title__effect.is-visible {
  position: relative;
  opacity: 1;
}


.hero-section.clip .title__heading > span,
.hero-section.clip .title__effect {
  display: inline-block;
  padding: .2em 0;
}

.hero-section.clip .hero-section__words {
  overflow: hidden;
  vertical-align: top;
}

.hero-section.clip .hero-section__words::after {
  /* line */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #aebcb9;
}

.hero-section.clip .title__effect {
  opacity: 0;
}

.hero-section.clip .title__effect.is-visible {
  opacity: 1;
}

/*    Nav Bar*/

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #fff;
  border-radius: 3px;
  
  z-index: 1;
  
  -webkit-transform-origin: 4px 0px;
  
          transform-origin: 4px 0px;
  
  transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease,
              -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease,
              -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menuToggle span:first-child
{
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: linear-gradient(to left, #fc466b, #3f5efb);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  -webkit-transform-origin: 0% 0%;
  
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  
  transition: -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  -webkit-transform: none;
          transform: none;
}